{% extends "contest/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link href="{% static "vote/css/_participant.css" %}" rel="stylesheet" />
    <link href="{% static "vote/css/participants.css" %}" rel="stylesheet" />
{% endblock head %}

{% block content %}
    <div id="participants">
        {% for participant in participants %}
            <div class="participant">
                {% include "vote/_participant.html" %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}