:root {
    --main-color: #5e889f;
    --complementary-color: #f5889f;
    --secondary-color: #ff1d25;
    --highlight-color: #eee496;
    --content-background-color: ghostwhite;
    --error-background-color: #ff7f7f;
    --error-color: #890000;
    --success-background-color: #7fbf9f;
    --success-color: #00592c;
    --info-background-color: #7fbfff;
    --info-color: #00478e;
}

* {
    font-family: sans-serif;
}

.hidden {
    display: none !important;
}

input[disabled],
button[disabled] {
    pointer-events: none;
}

form.disabled {
    cursor: not-allowed;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--content-background-color);
}

a {
    text-decoration: none;
}

#content {
    display: flex;
    align-items: center;
    padding: 20px;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#header #logo {
    margin: 0 0 10px 100px;
    height: 200px;
}

#header #contest {
    position: absolute;
    z-index: -1;
    max-width: 100%;
}

#header h1 {
    color: #34238b;
    font-weight: bold;
    margin-top: 80px;
    margin-left: 15%;
    font-size: 40px;
}

.messages {
    text-align: center;
    width: 100%;
    height: 30%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 666999;
    opacity: 0;
    animation: fade 5s linear forwards;
    pointer-events: none;
    user-select: none;
}

@keyframes fade {
    0%,
    5%,
    90%,
    100% {
        opacity: 0;
    }
    6%,
    89% {
        opacity: 0.9;
    }
}

.messages {
    list-style-type: none;
}

.messages li {
    padding: 20px;
    margin: 5px;
    box-shadow: 0px 0px 3px 1px gainsboro;
    pointer-events: all;
}

.error {
    background-color: var(--error-background-color);
    color: var(--error-color);
}

.success {
    background-color: var(--success-background-color);
    color: var(--success-color);
}

.info {
    background-color: var(--info-background-color);
    color: var(--info-color);
}

.error,
.success,
.info {
    padding: 5px;
}

@media screen and (max-width: 1000px) {
    .messages {
        height: 50%;
    }
}
